extends layout

block content
  h1= title
  p Welcome to #{title}

  ul#tools-list.span6.text-center
    li
      a(href="http://www.angularjs.org")
        | AngularJS
    li
      a(href="http://www.expressjs.com")
        | ExpressJS